/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* font for headings and btns */

h1,
h2,
h3,
h4,
button {
    font-family: "Barlow Condensed", sans-serif;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    font-family: "Barlow", sans-serif;

    /* ## Colors */

    /* ### Primary */

    --red: hsl(0, 100%, 68%);

    /* ### Neutral */

    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 0;
    position: relative;
}

header .logo {
    width: 24px;
}

header .mobile-nav {
    display: none;
    position: absolute;
    text-align: center;
    top: 5rem;
    /* center positioned absolut element */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    padding: 1.5rem 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.mobile-nav nav {
    border-bottom: 1.5px solid var(--light-grayish-blue);
    padding-bottom: 1rem;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.mobile-nav ul li a {
    color: var(--very-dark-blue);
    font-family: "barlow condensed", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;    text-decoration: none;
}

.mobile-nav button.login {
    color: var(--grayish-blue);
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding: 1rem 0 0;
    text-transform: uppercase;
}

main {
    padding: 2rem 1rem 5rem;
}

.text-container {
    margin-top: 5rem;
}

.text-container .new {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: inline-block;
    color: var(--grayish-blue);
    font-family: "barlow condensed", sans-serif;
    letter-spacing: 5px;
}

.text-container .new span {
    color: var(--light-grayish-blue);
    background-color: var(--very-dark-blue);
    padding: 0.2rem 0.35rem;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 0.5rem;
}

.text-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
    text-transform: uppercase;
}

.text-container p.planning {
    font-size: 0.9rem;
    color: var(--grayish-blue);
    margin-bottom: 2rem;
    max-width: 14rem;
}

.text-container .schedule {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.schedule button {
    background-color: var(--red);
    color: white;
    padding: 0.5rem 0;
    width: 10rem;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}

.schedule p {
    font-size: 0.6rem;
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}
